.chat-header {
  height: 15%;
  width: 100%;
}

.chat-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_info {
  display: flex;
  align-items: center;
}

.head-picture {
  position: relative;
  z-index: 0;
}

.status {
  content: "";
  position: absolute;
  border: 2px solid white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(162, 255, 22);
  z-index: 1;
  right: 0;
  bottom: 0;
}

.chat-body {
  padding: 24px;
  height: 70%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.massage {
  margin-bottom: 20px;
}

.msg {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px 20px;
}

.left .msg {
  background-color: var(--color-light-gray);
  border-radius: 10px 10px 10px 0px;
}

.right .msg {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 10px 10px 0px 10px;
}

.msg::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid var(--color-light-gray);
  bottom: 0;
  z-index: -1;
}

.left .msg::after {
  left: -15px;
}

.right .msg::after {
  border-bottom: 15px solid var(--color-primary);
  right: -15px;
}

.text {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}

.time {
  margin-top: 5px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-black-25);
}

.left .time {
  text-align: left;
}

.right .time {
  text-align: right;
}

.w-50 {
  width: 50%;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
  text-align: right;
}

.picture img {
  object-fit: cover;
}

.__react_modal_image__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.chat-input {
  height: 15%;
  width: 100%;
}

.input-wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.input-opt .MuiSpeedDial-root {
  position: absolute;
  left: -20px;
  bottom: -4px;
}

.input-form {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light-gray);
  padding-left: 15px;
}

.input-field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-opt {
  z-index: 0;
  position: relative;
}

.input-opt .css-4reedn-MuiSpeedDial-root {
  z-index: 1;
}

.input-field input[type="text"] {
  height: 45px;
  width: 100%;
  background-color: var(--color-light-gray);
  border-style: none;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-right: 70px;
}

.input-field input:focus[type="text"] {
  outline: none;
}

.input-btn {
  border: 1px solid transparent;
}

.input-btn button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--color-primary);
}

.input-btn button svg {
  fill: var(--color-white);
  width: 30px;
  height: 30px;
}

.input-btn:hover {
  border-color: var(--color-primary);
}

.input-btn:hover button {
  background-color: var(--color-white);
}

.input-btn:hover button svg {
  fill: var(--color-primary);
}

/* Camera CSS */
.camera-opt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.272);
  display: flex;
  justify-content: center;
  align-items: center;
}

.closed {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#inner-circle {
  cursor: pointer;
}

.box-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  background-color: var(--color-white);
  border-style: none;
  padding: 15px;
}

.css-e53awj-MuiStack-root {
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
