.groups {
  padding: 15px;
}

.groups .card_body {
  height: 26vh;
  overflow-y: scroll;
}

.body_list .btn_group {
  padding-right: 25px;
}

.MuiBadge-badge {
  background-color: var(--color-secondary-two);
  color: var(--color-white);
}

.btn_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.groups .primary_btn.block {
  background-color: transparent !important;
  border: 1px solid var(--color-error) !important;
  color: var(--color-error) !important;
}

.search_option {
  display: none;
}

.close-btn {
  text-align: right;
  padding: 5px;
  cursor: pointer;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn svg {
  width: 30px;
  height: 30px;
  fill: var(--color-primary);
}
